@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
	--outfit: "Outfit", sans-serif;
	--very-dark-blue-main: hsl(217, 54%, 11%);
	--very-dark-blue-card: hsl(216, 50%, 16%);
	--very-dark-blue-line: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	background-color: var(--very-dark-blue-main);
	font-family: var(--outfit);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

main {
	background-color: var(--very-dark-blue-card);
	color: var(--white);
	padding: 30px;
	width: 400px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.eq {
    display: block;
	width: 100%;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.cardimage {
    position: relative;
    cursor: pointer;
}

.cardimage:hover .hover-effect{
    opacity: 1;
}

.hover-effect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("./images/icon-view.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: hsl(178deg 100% 50% / 50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    opacity: 0;
    transition:ease-in-out all .5s;
    -webkit-transition:ease-in-out all .5s;
    -moz-transition:ease-in-out all .5s;
    -ms-transition:ease-in-out all .5s;
    -o-transition:ease-in-out all .5s;
}

.main-content h2 {
    margin-top: 20px;
    cursor: pointer;
    transition:ease-in-out all .5s;
    -webkit-transition:ease-in-out all .5s;
    -moz-transition:ease-in-out all .5s;
    -ms-transition:ease-in-out all .5s;
    -o-transition:ease-in-out all .5s;
}

.main-content h2:hover {
    color: var(--cyan);
}

.content {
	color: var(--soft-blue);
	margin: 20px 0px 20px 0px;
	font-weight: 300;
}
.price {
	color: var(--cyan);
	display: flex;
	justify-content: space-between;
}

.softblue {
	color: var(--soft-blue);
}

#divider {
	border-bottom: 1px solid var(--soft-blue);
	opacity: 0.3;
}

.profile {
	display: flex;
	gap: 15px;
	align-items: center;
	width: max-content;
	margin-top: 15px;
}

.creative {
    cursor: pointer;
    transition:ease-in-out all .5s;
    -webkit-transition:ease-in-out all .5s;
    -moz-transition:ease-in-out all .5s;
    -ms-transition:ease-in-out all .5s;
    -o-transition:ease-in-out all .5s;
}

.creative:hover {
    color: var(--cyan);
}

.profile :first-child {
	width: 30px;
}

.pp {
	width: auto;
	height: auto;
	border: 1px solid white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

@media (max-width: 450px) {
	body {
		padding: 0 20px;
	}
}
